<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-store, no-cache, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <link rel="stylesheet" href="./css/ystyle.css">
    <title>Document</title>
</head>
<body>
    <!-- Todo Home Page -->
    <div class="title">Welcome to Sports Scheduler</div>
    <div class="grid">
        <div class="card">
            <p class="subtitle"><a class="link" href="/signup">Sign-Up now...</a></p>
            <p class="subtitle"><a class="link" href="/login">Sign-In</a></p>
        </div>
    </div>
</body>
</html>
