body {
    font-family: Arial, sans-serif;
    background-image: url('player.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    max-height: 400px;
    margin: auto; /* Center the container horizontally */
    margin-top: 30vh; /* Center the container vertically with a top margin */
    padding: 20px;
    background-color: rgb(192, 187, 187,0.8);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex; /* Use flexbox */
    flex-direction: column; /* Arrange children in a column */
    justify-content: center; /* Center children vertically */
    align-items: center; /* Center children horizontally */
}


h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.input-group input[type="text"],
.input-group input[type="email"],
.input-group input[type="password"] {
    flex-grow: 1;
    border: none;
    padding: 10px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid #ccc; 
    margin-bottom: 10px;
}

.input-group input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.input-group input[type="submit"]:hover {
    background-color: #0056b3;
}

.links-container a {
    color: #007BFF;
    text-decoration: none;
    font-size: smaller;
    transition: color 0.3s;
}

.links-container a:hover {
    color: #0056b3;
}
